<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>webpack4 login pages</title>
</head>
<body>
    <div>
        第二个测试页
    </div>
    <div class="c-1">
        <img src="/static/img/test.png" alt="">
    </div>
    <div class="jquery-test">
        测试测试测试cxdsfdsdsxxxxx
    </div>
    <div class="assets-img"></div>
    <img src="../assets/small.png" alt="">
</body>
</html>